<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <title>Tech Blog</title>
</head>

<body>
    <header class="header">
        <nav class="navBar">
            <div class="titleImage">
                <img class="logo" src="/images/logo.png">
                <img class="logoText" src="/images/tech-spot.png" alt="">
            </div>

            <div class="menu">
                {{#if loggedIn}}
                <a href="#" class="menuLinks">Home</a>
                {{/if}}
                {{#if loggedIn}}
                <a href="#" class="menuLinks">Dashboard</a>
                {{/if}}
                {{#if loggedIn}}
                <a href="#" id="logout" class="menuLinks">Logout</a>
                {{else}}
                <a id="loginBtn" href="#" class="menuLinks">Login</a>
                {{/if}}
            </div>

        </nav>
    </header>


    {{{body}}}
    

</body>
<script src="/js/homepage.js"></script>
{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{else}}
<script src="/js/loggin.js"></script>
{{/if}}
</html>