
 
<section class="postCard">
  {{#each userPosts as | post |}}
  {{>dash-data}}
  {{/each}}
</section>




   <section class="newPostModal">
      <div class="modalContent">
        <h1 class="modalTitle">Add A New Post</h1>
        <button id="closePost" class="closeBtn">&times;</button>
      </div>

      <form class="form">
        <label for="postTitle"></label>
        <input type="text" id="postTitle" placeholder="Your post's title" />

        <label for="postContent"></label>
        <input type="textarea" id="postContent" placeholder="Add your post" />

        <input class="submitBtn" id="post-submit" type="submit" value="Submit" />
      </form>

    </section>

    <div class="btnContainer">
        <button class="Btn postBtn" type="submit">Add New post</button>  
    </div>
<script src="../js/dashboard.js"></script>