{{!-- Posts --}}
<section class="postCard">
    {{#each renderPosts as | data |}}
    {{>post-data}}
    {{/each}}
</section>

<section class="comments">
    {{#each comment as | comment |}}
    {{>comment-data}}
    {{/each}}
</section>